.hero {
    height: 1100px;
    width: 100%;
    background-image: url('/public/kalypso-2025/5.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .hero {
        height: 800px;
    }
}