.hero {
    height: 500px;
    width: 100%;
    background-image: url('https://placehold.co/100x50');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}