// _variables.scss

// Couleurs principales
$primary-color: #450920;
$secondary-color: #a53860;
$background-color: #f5e7d9;
$text-color: #000000;

// Exemple d’ombres ou de variantes
$shadow-color: rgba(0, 0, 0, 0.1);

// a tester : primary 8a1503 secondary cea358
