@use '../../Styles/variables' as *;

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

body {
    line-height: 1.6;
    color: $text-color;;
    background-color: $background-color;
}