@use '../../Styles/variables' as *;

footer {
    background-color: grey;
    color: white;
    margin-top: 5rem;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.footer-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr; // ← Important pour forcer le centrage
  align-items: center;
  justify-items: center; // ← Pour centrer le contenu de chaque colonne
  max-width: 1600px;
  text-align: center;

  .signature {
    justify-self: start; // ← Aligne l'image à gauche
  }

  p {
    margin: 0;
  }

  .social-links {
    justify-self: end; // ← Aligne les icônes à droite
    margin: 1rem;
  }
}


.social-link {
    margin: 0.5rem;
    color: white;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
    :hover {
        color: $secondary-color;
        transform: translateY(-3px);
    }
}

.signature {
    width: 300px;
    height: 100px;
}

@media (max-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .signature {
      width: 200px;
      height: auto;
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    .social-links {
      padding-left: 0;
      gap: 0.5rem;
    }

    .social-link {
      font-size: 1.2rem;
    }
  }
}
